<div class="container">
<h1>{{home.title}}</h1>







<!-- TEST
<ul>
	<li ng-repeat="items in homeItems">{{items}}</li>
</ul>

<ul>
	<li ng-repeat="data in names">
		<input type="text" ng-model="data.name">
		<input type="text" ng-model="data.age">
		<button class="btn btn-danger" ng-click="names.splice($index,1)">Remove</button>
	</li>
</ul>
<button ng-click="saveNames()" class="btn btn-secondary">Save</button>

<input type="text" ng-model="myValue">{{myValue}}

<select ng-model="selectedValue" ng-options="value for value in homeItems"></select>
-->
</div>